h1 {
    color: cadetblue;
    text-align: center;
}

img{
    background-color: black;
    background-image: url("./img/1681879228644\ \(2\)(1).png");
    align-self: start;
    display: flex;
    justify-content: center;
}

.caja {
    background-color: cadetblue; 
    border: solid 3px rgb(0, 0, 0);
    padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

p {
  text-align: center;
  font-size: 300%;
}

h1 {
  text-align: center;
}

footer {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30%;
  color: black;
}

img {
    width: 260px;
    height: 260px;
    border-radius: 30px;


.div-card {
    width: 18rem;
}

h5{
    color: black;
    font-family: sans-serif;
}
}