h1 {
    text-align: center;
      color: cadetblue;
  }
  
  img {
    background-color: black;
    background-image: url("./img/1681879228644\ \(2\).png");
    height: 200px;
    align-self: start;
  }
  
  .caja {
      background-color: cadetblue; 
      border: solid 3px rgb(0, 0, 0);
      padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    @media (min-width: 768px) {
        max-width: 1600px;
    }
  }
  
  p {
    text-align: center;
    font-size: 300%;
  }
  
  h1 {
    text-align: center;
  }
  
  footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60%;
    color: black;
  }